<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
  <div class="jumbotron text-center">
    <h2 class="display-3">Welcome to Kashi-Uta</h2>
    <p class="lead">A social community for sharing Romaji lyrics</p>
    <hr class="my-4">
    <p>Have lyrics to share?</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="songs/new" role="button">Submit Romaji Song Lyrics</a>
    </p>
  </div>
  <h2>Featured Romaji Song Lyrics</h2>
    <img class="album" src="http://i.imgur.com/SQe2fOw.jpg" class="rounded float-left" alt="..."> 
    <img class="album" src="http://i.imgur.com/SQe2fOw.jpg" class="rounded mx-auto d-block" alt="..."> 
    <img class="album" src="http://i.imgur.com/SQe2fOw.jpg" class="rounded float-right" alt="...">   
</body>
</html>


